# Feature Engineering for Movie Recommendation System

Notebook này thực hiện:
- Xử lý đặc trưng cho hệ gợi ý phim
- Kết hợp nội dung phim (Plot) và thể loại (Genre)
- Chuẩn bị dữ liệu cho bước vector hóa

In [ ]:
import pandas as pd

In [ ]:
model_df = pd.read_csv("movies_model_Preprocessing.csv")

# Genre_list đang ở dạng string → chuyển lại thành list
import ast
model_df["Genre_list"] = model_df["Genre_list"].apply(ast.literal_eval)

model_df.head()

,Title,Plot_clean,Genre_list
0,The Lego Movie 2: The Second Part,five year since everything awesome citizen fac...,"[Animation, Adventure, Comedy]"
1,PAW Patrol: The Movie,paw patrol biggest rival mayor humdinger becom...,"[Animation, Action, Adventure]"
2,Demon Slayer: Kimetsu no Yaiba - The Movie: Mu...,tanjiro kamado joined inosuke hashibira boy ra...,"[Animation, Action, Adventure]"
3,Constantine: City of Demons - The Movie,decade tragic mistake chas chandler occult inv...,"[Animation, Action, Fantasy]"
4,The Garfield Movie,garfield unexpected reunion longlost father ra...,"[Animation, Adventure, Comedy]"

In [3]:
model_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18788 entries, 0 to 18787
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       18788 non-null  object
 1   Plot_clean  18788 non-null  object
 2   Genre_list  18788 non-null  object
dtypes: object(3)
memory usage: 440.5+ KB

In [4]:
# Chuyển list genre thành chuỗi
model_df["Genre_text"] = model_df["Genre_list"].apply(
    lambda genres: " ".join(genres) if isinstance(genres, list) else ""
)

model_df[["Genre_list", "Genre_text"]].head()

                       Genre_list                  Genre_text
0  [Animation, Adventure, Comedy]  Animation Adventure Comedy
1  [Animation, Action, Adventure]  Animation Action Adventure
2  [Animation, Action, Adventure]  Animation Action Adventure
3    [Animation, Action, Fantasy]    Animation Action Fantasy
4  [Animation, Adventure, Comedy]  Animation Adventure Comedy

In [5]:
GENRE_WEIGHT = 2  # tăng ảnh hưởng thể loại

model_df["combined_text"] = model_df.apply(
    lambda row: row["Plot_clean"] + " " + (" " + row["Genre_text"]) * GENRE_WEIGHT,
    axis=1
)

model_df[["Title", "combined_text"]].head()

,Title,combined_text
0,The Lego Movie 2: The Second Part,five year since everything awesome citizen fac...
1,PAW Patrol: The Movie,paw patrol biggest rival mayor humdinger becom...
2,Demon Slayer: Kimetsu no Yaiba - The Movie: Mu...,tanjiro kamado joined inosuke hashibira boy ra...
3,Constantine: City of Demons - The Movie,decade tragic mistake chas chandler occult inv...
4,The Garfield Movie,garfield unexpected reunion longlost father ra...

In [6]:
model_df["combined_length"] = model_df["combined_text"].apply(
    lambda x: len(x.split())
)

model_df["combined_length"].describe()

count    18788.000000
mean        35.710294
std         31.226106
min          3.000000
25%         19.000000
50%         25.000000
75%         43.000000
max        531.000000
Name: combined_length, dtype: float64

In [7]:
model_df.to_csv("movies_processing.csv", index=False)

print("✅ Feature engineering hoàn tất & đã lưu file")

✅ Feature engineering hoàn tất & đã lưu file